[submodule "ark"]
	path = ark
	url = https://github.com/chef-cookbooks/ark
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/chef-cookbooks/build-essential
[submodule "seven_zip"]
	path = seven_zip
	url = https://github.com/windowschefcookbooks/seven_zip
[submodule "mingw"]
	path = mingw
	url = https://github.com/chef-cookbooks/mingw
[submodule "windows"]
	path = windows
	url = https://github.com/chef-cookbooks/windows
[submodule "ohai"]
	path = ohai
	url = https://github.com/chef-cookbooks/ohai
[submodule "cron"]
	path = cron
	url = https://github.com/chef-cookbooks/cron
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/stevendanna/logrotate
